<h1>Mocking APIs For Local Development</h1>
<p><strong>Story</strong>: As a developer, I want understand the usefulness of using a Mock API when developing API-reliant applications in React. I would like to understand how this Mock API is constructed and executed for local build tasks only, when using a local variable in my .env file.</p>

<figure class="snip1336" *ngFor="let user of users">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" />
  <figcaption>
    <img src="" alt="profile-sample4" className="profile" />
    <h3>{{user.fullName()}}</h3>
    <p><a href="mailto:{{user.email}}">{{user.email}}</a></p>
    <p>{{user.country}}</p>
  </figcaption>
</figure>