
<mat-toolbar color="primary">
  <nav class="mat-typography navbar">
    <a routerLink="#" class="mat-button">Home</a>
    <a routerLink="/crud" class="mat-button">Drupal CRUD</a>
    <a routerLink="/graphqlclientsingle" class="mat-button">GraphQL Client (Single)</a>
    <a routerLink="/graphqlclientmulti" class="mat-button">GraphQL Client (Mulitple)</a>
    <a routerLink="#" class="mat-button">API Data Failover</a>
    <a routerLink="/apidatamock" class="mat-button">API Data Mock</a>
    <a routerLink="/chatbot" class="mat-button">Chatbot integration</a>
    <a routerLink="/uac" class="mat-button">User content</a>
  </nav>
</mat-toolbar>

<div class="mat-typography route-container">
  <router-outlet></router-outlet>
</div>
