/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  margin: 0;
}

.navbar { 
  padding: 8px 16px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.route-container {
  box-sizing: border-box;
  padding: 1em;
}